body {
    margin: 0;
    padding: 0;
    height: 2000px; /* solo para ver el scroll */
    background-color: #f7e1ef;
  }
  
  .rectangulo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #e59dca;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
  
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
  }
  
  .rectangulo.oculto {
    transform: translateY(-100%);
    opacity: 0;
  }
  
.imagen-logo {
  display: flex;
  align-items: center;
  height: 50px;
 
}
/* Estilo del contenedor del botón */
.boton {
  margin-top: 300px; /* Puedes ajustar el valor */
  text-align: center;
}



/* Estilo visual del botón */
.boton button {
  background-color: #e57bbe;
  color: #da3da1;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Capriola", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra suave */
  touch-action: manipulation; /* para mejor respuesta en móviles */
}

/* Efecto al presionar */
.boton button:active {
  transform: scale(0.96); /* se achica levemente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* sombra más sutil */
}

  
  @media (max-width: 500px) {
    .rectangulo {
      width: 100%;
    }
  }
  